/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.clearFix {
  clear: both; }

hr {
  margin: 20px 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Arial Narrow", Arial, sans-serif; }

a {
  text-decoration: none; }

.content-wrap {
  width: 80%;
  margin: 0 auto; }
  .content-wrap .btn {
    background: #677809;
    height: 30px;
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 0.7em;
    cursor: pointer; }
  .content-wrap .btn:hover {
    background: rgba(103, 120, 9, 0.9); }
  .content-wrap .title, .content-wrap .subtitle {
    font-family: "Play", "Arial Narrow", Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #677809;
    margin: 15px 0 25px 0; }
  .content-wrap .subtitle {
    font-size: 18px; }

.left {
  float: left;
  padding-right: 40px;
  width: 60%; }
  .left p {
    text-align: justify;
    line-height: 1.2em;
    font-size: 1em; }

.right {
  float: right;
  width: 40%;
  margin-top: 20px; }

.career {
  width: 40%;
  float: right;
  margin-bottom: 20px; }
  .career p {
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.2em; }

.career-menu {
  float: left;
  width: 30%;
  margin-bottom: 50px;
  font-family: "Play", "Arial Narrow", Arial, sans-serif; }

.job-description {
  float: right;
  width: 70%;
  padding-right: 20px;
  margin-bottom: 50px;
  font-size: 0.9em;
  background: rgba(133, 195, 165, 0.1);
  padding: 10px; }
  .job-description span {
    display: block;
    font-size: 20px;
    font-family: "Play", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px; }
  .job-description p {
    display: none;
    text-align: justify; }
  .job-description .view {
    display: block; }

.checkmark {
  width: 30px; }

.job {
  width: 200px;
  height: 40px;
  background: #85c3a5;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 0.9em; }

.job:hover {
  cursor: pointer;
  font-weight: bold; }

#carousel {
  width: 100%;
  height: 350px;
  /*background:url(../assets/img/truck.jpg);*/
  margin: 0 auto;
  background-size: cover; }

.main-img {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  position: relative; }

.short-note {
  width: 300px;
  min-height: 50px;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 2px 2px #000;
  font-weight: bold;
  position: absolute;
  font-family: "Play", "Arial Narrow", Arial, sans-serif;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  background: #FFFFFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0.1));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, rgba(255, 255, 255, 0.1));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, rgba(255, 255, 255, 0.1));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  /* Standard syntax */ }
  .short-note span {
    font-family: 'Arial Narrow';
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    display: block; }

.about-us-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 250px; }

.career-img {
  background: url(../assets/img/success.jpg);
  background-size: cover; }

.faq-img {
  background: url(../assets/img/bubble.jpg);
  background-size: cover; }

.contact-img {
  background: url(../assets/img/truck3.jpg);
  background-size: cover;
  height: 350px; }

.about-img {
  background: url(../assets/img/trucks.jpg);
  background-size: cover;
  height: 350px; }

#QA-section {
  width: 90%;
  margin: 50px auto 100px auto; }
  #QA-section h3 {
    float: right;
    padding-top: 20px;
    color: #677809;
    font-family: "Play", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px; }
  #QA-section h3:hover {
    text-decoration: underline; }

.question-mark {
  max-height: 25px;
  float: left;
  margin: auto 0; }

.arrow-mark {
  max-height: 30px;
  float: right;
  margin: auto 0; }

.question {
  display: inline-block;
  max-width: 80%;
  margin: 0;
  margin-left: 30px;
  color: black; }

.qa {
  margin: 0 auto;
  padding: 15px;
  text-align: justify; }

.question-area {
  background: #f0f0f0;
  border: 1.5px solid #FFFFFF;
  box-shadow: 5px 5px 3px #888888;
  cursor: pointer; }

.answ-area {
  background: rgba(43, 169, 0, 0.2);
  cursor: pointer;
  display: none; }
  .answ-area p {
    max-width: 80%;
    margin-left: 20px;
    color: #000000; }

.map-wrapper {
  position: relative;
  margin-bottom: 100px; }

#map {
  width: auto;
  height: 400px; }

.contact-field {
  width: auto;
  height: auto;
  padding: 15px;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000; }
  .contact-field span {
    font-weight: 700; }
  .contact-field .company-name {
    font-family: "Play", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    color: #677809; }

.show {
  display: block; }

.upper-header {
  width: 80%;
  margin: 0 auto; }

#mob-menu {
  width: 35px;
  height: 35px;
  background: url(../assets/img/mob-menu.png);
  background-size: cover;
  clear: right;
  float: right;
  display: none;
  margin: 10px 5px 0 0;
  cursor: pointer; }

.lang-bar {
  float: right;
  font-size: 0.8em; }
  .lang-bar a {
    text-decoration: none;
    color: black;
    font-family: "Play", "Arial Narrow", Arial, sans-serif; }
    .lang-bar a .default-lang {
      color: #677809;
      font-weight: bold; }
  .lang-bar a:hover {
    text-decoration: underline; }

.motto {
  width: 45%;
  margin: auto;
  padding-top: 10px;
  display: inline-block;
  clear: both;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2em;
  text-align: right;
  color: rgba(22, 67, 104, 0.7); }

.motto-up, .motto-down {
  display: block; }

nav {
  width: 100%;
  min-height: 120px;
  background: rgba(43, 169, 0, 0.1);
  position: relative; }

#logo {
  float: left;
  max-width: 130px;
  margin: 0 0 0 20px;
  border: none; }

.nav-menu {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  margin: 0 auto; }
  .nav-menu ul {
    border-bottom: 3px solid #677809;
    font-size: 0.9em;
    margin: 0; }
  .nav-menu li {
    display: inline-block;
    padding: 5px 0;
    background: rgba(43, 169, 0, 0.2);
    border-right: 1px solid #FFFFFF;
    width: 16.65%;
    height: 30px;
    text-align: center;
    line-height: 1.5em;
    color: #000000;
    text-transform: uppercase;
    font-family: "Play", "Arial Narrow", Arial, sans-serif; }
  .nav-menu .last {
    border: none;
    width: 16.7%; }
  .nav-menu li:hover {
    background: #677809;
    color: #FFFFFF; }
  .nav-menu .selected {
    background: #677809;
    color: #FFFFFF; }
  .nav-menu a:visited {
    background: #677809;
    color: #FFFFFF; }

footer {
  clear: both;
  width: 100%;
  background: #677809;
  font-family: "Play", "Arial Narrow", Arial, sans-serif; }

#footer-content {
  padding: 15px;
  color: #FFFFFF;
  width: 100%;
  min-height: 110px;
  margin: 0 auto; }
  #footer-content p {
    margin: 10px auto 20px auto;
    font-size: 0.8em;
    text-align: center; }
  #footer-content a {
    text-decoration: none;
    color: #FFFFFF; }

.footer-menu {
  display: block;
  margin: 20px auto 0 auto;
  text-align: center; }
  .footer-menu li {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.8em; }

@media screen and (max-width: 960px) {
  .motto {
    font-size: 0.9em; }

  #logo {
    margin-left: 0; } }
@media screen and (max-width: 850px) {
  .job, .career-menu, .job-description {
    float: none;
    width: 100%; } }
@media screen and (max-width: 650px) {
  .motto {
    line-height: 1.5em;
    font-size: 0.7em;
    padding-top: 30px; } }
@media screen and (max-width: 600px) {
  nav {
    min-height: 100px;
    border-top: 3px solid #E89309;
    border-bottom: 3px solid #677809; }

  .upper-header {
    width: 100%; }

  #logo {
    max-width: 100px;
    margin: 15px; }

  .lang-bar {
    font-size: 10px;
    padding: 10px; }

  #mob-menu {
    display: block; }

  .nav-menu {
    width: 100%;
    position: static;
    display: none; }
    .nav-menu li, .nav-menu .last {
      display: block;
      width: 100%;
      border: 1px solid #FFFFFF; }

  .short-note {
    display: none; }

  .content-wrap {
    width: 100%;
    font-size: 0.9em; }
    .content-wrap .right {
      display: none; }
    .content-wrap .left, .content-wrap .career {
      width: 100%;
      padding-right: 0; }
    .content-wrap .content {
      padding: 10px; }

  .main-img {
    height: 40vw; }

  #QA-section, .question {
    width: 100%; }

  .qa {
    padding: 10px; }

  .question, .answ-area p {
    margin: 0;
    max-width: 80%; }

  .question {
    padding-left: 10px; }

  .answ-area p {
    padding-left: 0px; } }
@media screen and (max-width: 450px) {
  .motto {
    display: none; }

  .answ-area p {
    max-width: 75%; }

  .contact-field {
    bottom: 10px;
    right: 10px;
    top: auto;
    text-align: right;
    background: white; } }
@media screen and (max-width: 400px) {
  .about-us-img {
    max-width: 100%;
    display: block;
    float: none;
    margin: 20px auto; } }
